div data-timer-target="countdownScreen" class="flex-1 flex flex-col items-center justify-center hidden"
  p.text-gray-500.text-sm.font-bold.mb-4 get ready
  div data-timer-target="countdownNumber" class="font-clock text-[14rem] leading-none text-accent-green glow-green"
    | 3
